# Środowisko wirtualne
.venv/

# PyCharm i inne IDE
.idea/

# Pliki cache Pythona
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Backupy i pliki tymczasowe
*.bak
*.swp
*.tmp

# Systemowe
.DS_Store
Thumbs.db

# Pliki logów i tymczasowe
*.log

# Pliki testowe (opcjonalnie)
*.test.py
